body {
    font-family: Arial, sans-serif;
    background: rgb(4, 27, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    text-align: center;
  }

  h1 {
    margin: 25px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 40px;
  }
  
  .retangulo{
    border-color: black;
    border: 30px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(102, 121, 202);
    padding: 50px;
    width: 600px;
    justify-content: center;
    height: 500px;
    justify-content: space-between;
    text-align: center;
  }

  .btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 22px;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 350px;
    height: 70px;
    text-align: center;
  }

  .facil {
    background-color: #25c74e;
    color: rgb(255, 255, 255);
  }
  
  .facil:hover {
    background-color: #2e2bac;
  }
  
  .dificil {
    background-color: #f44336;
    color: white;
  }
  
  .dificil:hover {
    background-color: #2e2bac;
  }

  .mascote {
    height: 140px;
    width: auto;
    align-items: center;
  }