body{
    font-family: Arial, sans-serif;
    background: rgb(4, 27, 133);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.retangulo{
    border-color: black;
    border: 30px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(93, 115, 216);
    padding: 50px;
    width: 800px;
    justify-content: center;
    height: 600px;
    justify-content: space-between;
    text-align: center;
}
.pergunta{
    background-color: rgb(250, 255, 255);
    border: 30px;
    border-color: black;
    border-radius: 10px;
    margin: 35px;
    width: 85%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

/* .opcoes{
    background-color: #b43a3a;
    border-radius: 10px;
    color: rgb(230, 86, 86);
    cursor: pointer;
} */

.botao{
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(4, 27, 133);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 90%;
    height: 70px;
}

.botao:hover {
    background-color: #1a1974;
  }

.cima{
    text-align: left;
    display:block;
    flex-direction: row;
    font-size: 15px;
}