body {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 30px auto;
        background: rgb(4, 27, 133);
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .question {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .options label {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        border: 30px solid white;
        border-radius: 10px;
    }
    button {
        margin-top: 20px;
        height: 32px;
        width: 180px;
        border-radius: 10px;
        font-size: 25px;
        cursor: pointer;
    }
submit:hover {
    background-color: #1a1974;
  }